<%- include("partials/header")%>
<div class="ui grid stackable container main">
    <div class="ui row">

        <div class="ten wide column">
            <div class="ui main text  segment">
                <div class="ui huge header">Carpool to <%= event.drive.campus%> <%=event.startTime%></div>
                
            </div>
            <div class="ui segment">
                <h5 class="ui top attached header">
                    Driver: 
                  </h5>
                  <a class = "driver"href="/user/<%=event.drive.driver.id%>">
                  <div class="ui attached segment">
                    <%=event.drive.driver.firstName%> <%=event.drive.driver.lastName%>
                  </div>
                </a>
                  <h5 class="ui attached header">
                    Destination:
                  </h5>
                  <div class="ui attached segment">
                    <% if(event.drive.campus == "Bissonet Campus" || event.drive.campus == "Museum District Campus"){%>
                        <%= event.drive.campus%> 

                    <%}else{%>
                        Outside Of School Event: <%= event.drive.destination.location%>

                    <%}%>
                  </div>
                  <h5 class="ui attached header">
                    Drive Time: 
                  </h5>
                  <div class="ui attached segment">
                    About: <span id = "duration"></span> minutes, <span id = "distance"></span>  kilometers
                  </div>
                  <h5 class="ui top attached header">
                    Riders:
                  </h5>
                  <div class="ui attached segment">
                      <%if(event.riders.length == 0){%>
                          <p>No Riders So Far</p>
                      <%}else{%>
                        <p>
                        <% event.riders.forEach(function(rider){%>
                            <%=rider.firstName%> <%=rider.lastName%>,
                        <%})%>
                        </p>
                      <%}%>
                        <a href="/calendar/<%=event._id%>/join" class="blue inverted ui button">Join</a>
                  </div>
                  <%if(currentUser){%>
                    <% if (currentUser._id.equals(event.drive.driver.id)){%>
                      <h5 class="ui attached header">
                        Pending Riders: 
                      </h5>
                      <% event.pendingRiders.forEach(function(rider){%>
                      <div class="ui attached segment">
                        
                          <p>Name: <%= rider.firstName%> <%= rider.lastName%></p>
                          <p>+ <%=rider.duration%> minutes, + <%= rider.distance%> km, <%=rider.pickUpLocation.substr(0, rider.pickUpLocation.indexOf(","))%></p>
                          <a href="/calendar/<%=event._id%>/<%=rider.id%>/accept" class="button ui inverted blue">Accept</a>
                          <a href="/calendar/<%=event._id%>/<%=rider.id%>/decline" class="button ui inverted red">Decline</a>
                      </div>
                      <%})%>
                    <%}%>

                  <%}%>

            </div>
        </div>
        <div class="six wide column">
            <div id="map"></div>
        </div>
    </div>
</div>
<script>
  console.log(<%= event.drive.driveDistance%>)
      function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('map'), {
        });
        directionsDisplay.setMap(map);

        calculateAndDisplayRoute(directionsService, directionsDisplay);

      }
      var waypoints = []
      var rider = <%-JSON.stringify(event.riders)%>
      rider.forEach(function(rider){
        waypoints.push({
          location: rider.pickUpLocation,
          stopover: true
        })
      })
      var even = <%-JSON.stringify(event)%>
      var year = even.date.substr(0, 4),
          month = even.date.substring(5, 7),
          day = even.date.substr(8),
          hour =even.startTime.substr(0,2),
          minute = even.startTime.substr(3)
      function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        directionsService.route({
          origin: "<%=event.drive.departure.location%>",
          destination: "<%=event.drive.destination.location%>",
          travelMode: 'DRIVING',
          optimizeWaypoints: true,
            drivingOptions: {
              departureTime: new Date(year, month, day, hour, minute),
            },
            waypoints: waypoints
        }, function(response, status) {
          if (status === 'OK') {
            
            directionsDisplay.setDirections(response);
            var directionsData = response.routes[0].legs[0]; // Get data about the mapped route
            if (!directionsData) {
              window.alert('Directions request failed');
              return;
            }
            else {
              var ecc = "<%=event.driveTime%>";
              console.log(ecc)
              if(ecc){

                console.log( directionsData.distance.text + directionsData.duration.text)
              }else{
                console.log( directionsData.distance.text + directionsData.duration.text)

              }

        }
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
      var duration = <%=event.drive.driveDistance.duration / 60%>
      document.getElementById("duration").innerHTML = Math.round(duration)
      var distance = <%=event.drive.driveDistance.distance * 0.9144 *0.001%>
      document.getElementById("distance").innerHTML = Math.round(distance)
    </script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAz2hqfmP9Xns6N6Khgl2j3tD83fQnep1c&callback=initMap"></script>

<%- include("partials/footer")%>
